body {
  background-color: rgb(37,37,37);
}

/*--------------------- Définition de la NavBar ------------------*/
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #F5DEB3;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 18px;
}
  
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
  
.topnav a.active {
  background-color: antiquewhite;
  color: black;
}

.topnav a.connex {
  margin-left: 950px;
}

/*Placement du nom utilisateur dans le topnav*/
#username {
  color: #F5DEB3;
  margin-right: 15px;
}
.déconnexion {
  margin-left: 50px;
}

.topnav .user-info {
  display: flex;
  align-items: center;
}

/*--------------------- Menu Accueil ------------------*/
.vertical-menu {
  width:700px;
  height:500px;
  position:fixed;
  margin-left: 400px;
  margin-top: 70px;
  top:8px;
}

.vertical-menu a {
  background-color: whitesmoke; 
  color: black; 
  display: block;
  padding: 77px; 
  text-decoration: none;
  text-align: center;
  font-size: 35px;
}
  
.vertical-menu a:hover {
  background-color: antiquewhite;
}

/*--------------------- Menu Historique ------------------*/
.menu2 {
  width:700px;
  height:500px;
  position:fixed;
  margin-left: 400px;
  margin-top: 90px;
  top:0;
}

.menu2 a {
  background-color: whitesmoke;
  color: black;
  display: block;
  padding: 120px; 
  text-decoration: none;
  text-align: center;
  font-size: 35px;
}

.menu2 a:hover {
  background-color: antiquewhite;
}


/*--------------------- Menu Historique2Partie ------------------*/
#Historique2 {
  margin-left:300px;
  margin-top:10px;
  background-color: antiquewhite;
  width: 900px;
  height: 1000px;
}

/*--------------------- Menu Analyse ------------------*/
/* PGN */
.pgn {
  margin-top: 150px;
  margin-left: 1030px;
  width: 450px;
  height: 270px;
  padding: 1em;
  background-color: antiquewhite;
}

#boutonPgn {
  background-color: whitesmoke;
}

/* Coups joués */
.coupjoue{
  position: fixed;
  margin-top: -430px;
  margin-bottom: 100px; 
  margin-left: 30px;
  height: 200px;
}

#jeu {
  position: relative;
  margin-top: -560px;
  margin-bottom: 100px; 
  margin-left: 30px;
  height: 200px;
}

/* Table des coups joués */
table {
  border: 5px groove whitesmoke;
  width: 300px;
  height: 60px;
}

#StatusPGN{
  background-color:aliceblue; 
  height:450px;
}

/* Taille des pièces perdues dans le menu Analyse */
#piecep{
  width:28px;
  height: 28px;
}

#pionp{
  background-color:whitesmoke;
}

/* Cadre échiquier */
#cadreEchiquier{
  width:570px;
  height:620px; 
  position:fixed; 
  background-color:antiquewhite;
  margin-left: 400px;
  margin-top:30px; 
  top:30px;
}

#cadreEchiquier p {
  margin-left: 215px;
  margin-top: 6px;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 22px 0px;
  height: 10px;
}

#myBoard{
  position: fixed;
  width: 540px; 
  left:425px ;
  top:130px;
}

/* Boutons 'Précédent' et 'Suivant' */
#prev {
  background-color: whitesmoke;
  margin-left: 50px;
  top: 0;
}

#next {
  background-color: whitesmoke;
  margin-left: 25px;
}

/* Bouton pour inverser la couleur des pièces */
#flip{
  background-color: whitesmoke;
  margin-left: 150px;
  position: absolute;
}

#test{
  background-color: antiquewhite;
  position: absolute;
  margin-left:607px;
  top:70px;
}

/*--------------------- Menu  Inscription ------------------*/
/* 'Page de connexion' de la NavBar */
.InscPere {
  margin-left: 1240px;
  position: fixed;
}

.register {
  background: antiquewhite;
  width: 600px;
  margin: 120px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.register h1 {
  /* margin-left:180px; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 35px 35px 0 210px;
  font-weight: 300;
}

.register .champ {
  padding: 12px 5px;
}

.register .champ input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
}

.register .action input {
  width: 100%;
  border: none;
  padding: 25px;
  font-family: 'Rubik', sans-serif;
  background-color: #a7a8ab;
  color: black;
  font-size: 20px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}

.register .action input:hover {
  background-color: whitesmoke;
}

/*--------------------- Menu  Jouer ------------------*/
#cadrePere {
  width: 700px;
  height: 500px;
  position: fixed;
  background-color:antiquewhite;
  margin-left: 400px;
  margin-top: 110px;
  top: 8px;
}

/* Cadre 'Lien de partie' et 'Rejoindre une partie' */
#lienpartie {
  width: 450px;
  height: 160px;
  position: fixed;
  background-color: rgb(37, 37, 37);
  margin-top: 60px;
  margin-left: 125px;
}

#rejoindrepartie {
  width:450px;
  height:160px;
  position:fixed;
  background-color: rgb(37, 37, 37);
  margin-top:80px;
  margin-left:0px;
}

/* url 'Lien de partie' */
#url {
  margin-left: 60px;
}

.champ {
  height: 30px;
  margin-top: 10px;
}

#url a {
  font-size: 25px;
}

/* Ecriture 'Lien de partie' et 'Rejoindre une partie' */
#lien {
  color: #f2f2f2;
  text-align: center;
  margin-top:10px;
  font-family: system-ui;
  font-size:x-large;
  height: 40px;
}

/* Bouton lien */
#boutonLien {
  background-color: whitesmoke;
}

/*--------------------- Menu  Jouer avec plateau de jeu ------------------*/

/* Ecriture 'Conversation' */
#Conv{
  color:antiquewhite;
  margin-left: 1200px;
  margin-top :20px ;
  position:fixed;
  font-size:x-large;
}

/* Cadre pour les messages */
#messages{
  margin-left:1050px;
  margin-top:50px;
  width:450px;
  height:500px;
  background-color: aliceblue;
}

/* Cadre pour écrire un message */
#msg{  
  margin-left:1050px;
  top: auto;
  width:380px;
  height:15px;
}

/* Bouton pour envoyer un message */
#boutonEnvoyer {
  background-color: whitesmoke;
  margin-top: 5px;
}

/*Boutton d'abandon*/
#abandonner {
  position: absolute;
  top: 640px;
  right: 721px;

  
}

/* Ecriture au dessus de l'échiquier */
#tableau1 {
  margin-left: 20px;
  margin-top: 5px;
  font-size: 25px;
}

#nomjoueur2 span {
  font-weight: bold;
}

/* Ecriture en dessous de l'échiquier */
#tableau2{
  margin-left: 20px;
  margin-top: 550px;
  font-size: 25px;
  height:20px;
}

.gameBoard {
  position:fixed; 
  width: 540px; 
  left:425px ;
  top:10px;
  margin-top: -30px;
}

#tablee{
  border:2;
  width:300px;
  height:60px;
}

.board{
  width: 392px; 
  border-spacing:0
}
 
/* Style des Pieces */
.piece{
  width:49px;
  height:49px;
}

