body {
  background-color: rgb(102, 119, 133);
}

/*---------------------STYLE DE LA PAGE D'ACCUEIL------------------*/

/*---topnav---*/

.topnav {
  position: fixed;
  width: 200px;
  height: 660px;
  background-color: #333;
  border-radius: 4px;
  border: 4px solid rgb(220, 218, 218);
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);  
}

.topnav a {
  text-decoration: none;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  position: absolute;
}

.topnav a:hover {
  font-weight: bolder;
}

.topnav .accueil {
  top: 30px;
  left: 20px;
  color:  rgb(253, 190, 190);
}

.topnav .jouer {
  top: 90px;
  left: 20px;
}

.topnav .ordi {
  top: 150px;
  left: 20px;
}

.topnav .historique {
  top: 210px;
  left: 20px;
}

.topnav .profil {
  top: 300px;
  left: 20px;
}
.topnav .search {
  top: 370px;
  left: 20px;
}
.topnav .connexion {
  top: 610px;
  left: 20px;
}

.topnav .deconnexion {
  top: 610px;
  left: 20px;
}

.topnav .accueil:hover {
  font-weight: normal;
}

.topnav .ordi:hover {
  left: 5px;
}

.topnav .connexion:hover {
  left: 5px;
}

.user-info span {
  position: absolute;
  color:  rgb(240, 217, 181); 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-style: italic;
  top: 550px;
  left: 20px;
}

/*---vertical-menu---*/

.vertical-menu a {
  width: 600px;
  height: 150px;
  left: 500px;
  background-color: #333;
  border-radius: 4px;
  border: 4px solid rgb(220, 218, 218);
  position: absolute;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.vertical-menu a:hover {
  background-color: rgb(240, 217, 181);
  color: black;
}

.vertical-menu .historique { 
  top: 50px;
}

.vertical-menu .jouer {
  top: 260px;
}

.vertical-menu .ordi {
  top: 470px;
}
